<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:hello="http://www.leofee.com/schema/hello"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.leofee.com/schema/hello http://www.leofee.com/schema/hello.xsd
">
    <bean id="parent" class="pojo.Parent">
        <property name="son" value="leofee"/>
    </bean>

    <bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
                <bean class="editor.MySonPropertyEditorRegistrar"/>
            </list>
        </property>
    </bean>


    <hello:world id="leofee" username="hello leofee" />

</beans>